/*-----------------------
 header parts style start
 ------------------------ */

.honda-header-background {
    background-color: #264653;
}

.honda-text {
    color: #E0E0E0;
}

#purchase-btn {    
        background-color: #E76F51;
        color: white;
        padding: 10px 48px;   
}

/*----------------------
 header parts style ends 
 -----------------------*/


 /*----------------------
 main parts style starts 
 -----------------------*/

 /*----------------------------
  Fetured Bikes 2021 style start
  --------------------------- */

 .bike-grayscale {
    filter: grayscale(1);
 } 

 /*----------------------------
  Fetured Bikes 2021 style end
  --------------------------- */

 /* ---------------------
 Happy Clients says style start
 ----------------------- */

 .review-card-width {
     width: 320px;
 }

 .filled {
    color: #E76F51; 
 }

.fa-star.empty {
color: #AEAEAE;
}

 /* ---------------------
 Happy Clients says style end
 ----------------------- */

 /*----------------------
 main parts style ends 
 -----------------------*/